html {
    font-family: Arial, Helvetica, sans-serif;

    /* change to rem later */
}

body {
    margin: 0;
}

.dark body {
    background-color: #222;
    color: #eee;
}

.light body {
    background-color: white;
    color: black;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

input[type=text] {
    font-size: 20px;
    font-weight: bold;
    width: 100%;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

/* hide browser outlining */
input[type=text]:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

.dark input[type=text] {
    background: #222;
    color: #eee;
    border-color: #344;
}

.dark input[type=text]:hover {
    background: #333;
}

.dark input[type=text]:focus {
    border-color: #8bf;
}

.dark input[type=text]:focus {
    border-color: #8bf;
}

.light input[type=text] {
    background: white;
    color: black;
    border-color: #000;
}


button {
    min-width: 50px;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

    padding: 5px;
}

.dark button {
    background: #566;
    color: #eee;
    border-color: #466;
}

.dark button:hover {
    background: #777;
    border-color: #777;
}

.dark button:active {
    border-color: #eee;
}



.light button {
    border-color: grey;
}

.light button:hover {
    border-color: grey;
    background-color: lightgrey;
}

.light button:active {
    border-color: black;
    background-color: lightgrey;
}

.modes-wrapper {
    display: block;
    margin: 10px 10px -15px 10px;
}

.modes {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;

    margin: 0 0 0 25px;
    padding: 4px 8px;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

}

.dark .modes {
    background-color: #222;
    border-color: #344;
}

.light .modes {
    background-color: white;
    border-color: black;
}

.main-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    margin: 0 10px 10px 10px;
    padding: 30px 10px 10px 10px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.dark .main-grid {
    border-color: #344;
}

.light .main-grid {
    border-color: black;
}

.inputs-grid {
    gap: 10px;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.col-label {
    grid-column: 1;
}

.col-input {
    grid-column: 2;
}

.bits {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.bit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bit > input {
    grid-row: 1;
}

.bit > label {
    grid-row: 2;
}

.operators-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (min-width: 605px) {
    .operators-grid {
        max-width: 110px;;
    }
}


#custom-view-select {
    display: block;
    margin: 10px 10px -15px 10px;
}

#custom-view-select select {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;

    margin: 0 0 0 25px;
    padding: 4px 8px;

    font-size: 16px;

    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.dark #custom-view-select select {
    background-color: #222;
    color: #eee;
    border-color: #344;
}

.light #custom-view-select select {
    border-color: black;
}

#custom-view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;

    margin: 10px;
    margin: 0 10px 25px 10px;
    padding: 30px 10px 10px 10px;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.dark #custom-view {
    border-color: #344;
}

.light #custom-view  {
    border-color: black;
}

#custom-view.inactive {
    padding: 0;
    border-bottom: 0;
    border-collapse: collapse;
}

.col-custom-label {
    grid-column: 2;
}

.col-custom-input {
    grid-column: 1;
}

.row {
    margin: 10px;
}

ul.color {
    display: inline-flex;
    list-style-type: none;
    padding-inline-start: 0;
    gap: 0;
    margin: 0;
}

.dark ul.color li a {
    color: #8bf;
}

.light ul.color li a {
    color: blue;
}

ul.color li:not(:first-child):before {
    content: "|";
    margin: 0 .5em;
}

.dark ul.color li:before {
    color: #eee;
}

.light ul.color li:before {
    color: black;
}

hr {
    margin: 100px 0;
}