html {
    font-family: Arial, Helvetica, sans-serif;

    /* change to rem later */
}

body {
    margin: 0;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

input[type=text] {
    font-size: 20px;
    font-weight: bold;
    width: 100%;

    border: 1px solid grey;
    border-radius: 4px;
}

button {
    background-color: #f0f0f0;
    border: 1px solid grey;
    border-radius: 4px;

    padding: 5px;
}

button:hover {
    background-color: lightgrey;
}

button:active {
    border-color: black;
    background-color: lightgrey;
}

.modes {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 10px;

    margin: 10px 10px -25px 25px;
    padding: 4px 8px;

    border: 1px solid black;
    border-radius: 4px;

    background-color: white;
}


.main-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    margin: 10px;
    padding: 30px 10px 10px 10px;
    
    border: 1px solid black;
    border-radius: 8px;

    background-color: white;
}

.inputs-grid {
    gap: 10px;
    
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.col-label {
    grid-column: 1;
    width: 1fr;
}

.col-input {
    grid-column: 2;
    width: 3fr;
}

.bits {
    display: inline-flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.bit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bit > input {
    grid-row: 1;
}

.bit > label {
    grid-row: 2;
}

.operators-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.operator {

}

#custom-view {
    display: grid;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;

    margin: 10px;
    padding: 30px 10px 10px 10px;
    
    border: 1px solid black;
    border-radius: 8px;

    background-color: white;
}

.col-custom-label {
    grid-column: 2;
    width: 3fr;
}

.col-custom-input {
    grid-column: 1;
    width: 1fr;
}

button {
    width: 50px;
}

hr {
    margin: 100px 0;
}